@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- Begin page-name -->
<section class="page-name v-separator mb-xs-20 mb-md-25 mb-lg-65">
    <div class="dark-line"></div>
    <div class="page-name-content">
        <div class="container">
            <h1>Privacy Policy</h1>
            <ul class="bread-crumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/Home/Privacy">Studio Privacy Policy</a></li>
            </ul>
        </div>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" class="page-name__bg lazy" data-src="/lib/studiobooking/img/category/bg_rates.jpg" alt="bg">
    </div>
</section>
<!-- End page-name -->
<main>
    <div class="container pt-xs-25">
        <div>
            <h3>Terms and Conditions of the studio:</h3>
            <ul>
                <li>
                    <p>
                        Smoking/Vaping and consumption of alchohol and other drugs within the studio and building premises is not premited. Fine of ₹1000/- is applicable
                    </p>
                </li>
                <li>
                    <p>Consumption of food and beverages is not premited with in the live or control room. We have dedicted  pantry area for the same.</p>
                </li>
                <li>
                    <p>Number of people allowed within the studio is restricted to the mentioned studio capacity. </p>
                </li>
                <li>
                    <p>No pets/animals are allowed inside the studio premises.  </p>
                </li>
                <li>
                    <p>Setup and wrap-up time will be charged to your booking hours. </p>
                </li>
                <li>
                    <p>Post recording any listening, editing and file transfer time will be charged to your booking hours.  </p>
                </li>
                <li>
                    <p>Any damages to the studio premises or studio equipments pertained by any individual from the booking party, the respective booking party will be liable for the repair and relative payments.  </p>
                </li>
                <li>
                    <p>We have no CREDIT POLICY. Advance payment has to be done before the booking and balance on the day of the booking.</p>
                </li>
                <li>
                    <p>All bookings are non-cancellable. Cancellation charge is 50%</p>
                </li>
                <li>
                    <p>Booking can be rescheduled before 48 hours. In last 48 hours no changes can be done to the booking.  </p>
                </li>
                <li>
                    <p>A booking once rescheduled can’t be cancelled or changed again and will be chargeable 100% </p>
                </li>
                <li>
                    <p> Bookings under bundle package are non-refundable and shall be used within allotted period. </p>
                </li>
            </ul>
        </div>
    </div>
</main>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').removeClass('home-page').addClass('about-page');
        });
    </script>
}