@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section Style{
    <style type="text/css">
        .signin-header {
            padding: 20px 90px;
        }

        .axil-signin-form-wrap {
            height: calc(100vh - 100px);
            margin: 100px -30px -30px;
        }

        .axil-signin-form {
            max-width: 100% !important;
        }
    </style>
}
<div class="axil-signin-area">

    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="/" class="site-logo"><img src="~/lib/studiobooking/img/logo/RB-Studios-Logo_edited.png" alt="logo" style="max-width: 45% !important;"></a>
            </div>
            <div class="col-md-6">
                <div class="singin-header-btn">
                    <p>Already a registed?</p>
                    <a asp-page="./Login" class="axil-btn btn-bg-secondary sign-up-btn">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                <h3 class="title">We Offer the Best Studios</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-1">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form row--10">
                    <h3 class="title">Reset your password!</h3>
                    @*<p class="b2 mb--55">Enter your detail below</p>*@
                    <form class="singin-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb--30">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Input.Email">Enter your email<span>*</span></label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}