@using StudioBooking.Infrastructure
@using StudioBooking.Data.Models
@using StudioBooking.ViewModels
@{
    var layoutViewModel = (LayoutViewModel)(ViewData["LayoutViewModel"] ?? new LayoutViewModel());
}
<!DOCTYPE html>
<html>
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>R & B Studios | Dashboard</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="~/lib/Assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/lib/Assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/Assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <link rel="shortcut icon" href="@(layoutViewModel.WebsiteSetting.Favicon)" />
    @await RenderSectionAsync("style", required: false)
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    @*<partial name="_MobileHeader.cshtml" />   *@
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <partial name="_Sidebar.cshtml" />
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <partial name="_Header.cshtml" />
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    @RenderBody()
                </div>
                <partial name="_Footer.cshtml" />
            </div>
        </div>
    </div>
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <!--begin::Svg Icon | path: icons/duotone/Navigation/Up-2.svg-->
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000" opacity="0.5" x="11" y="10" width="2" height="10" rx="1" />
                    <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/lib/Assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/Assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="~/lib/Assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--end::Global Config-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/lib/Assets/js/custom/widgets.js"></script>
    <script src="~/lib/Assets/plugins/custom/bootbox/bootbox.min.js"></script>
    <script src="~/js/main.js"></script>
    <!--end::Page Scripts-->
    @RenderSection("scripts", required: false)
    <script type="text/javascript">        
        var lastActive = localStorage.getItem("url");
        window.onload = (event) => {
            const url = window.location.href.split('?')[0];
            const flag = activeMenu(url);
            if (!flag) {
                if (window.location.origin + "/" === url)
                    lastActive = url + "User/Home/";
                activeMenu(lastActive);
            }
        };

        function activeMenu(url) {
            var flag = false;
            $("li.menu-item").each(function () {
                if (this.childNodes[1].nodeName === "A") {
                    if (this.childNodes[1].href === url) {
                        localStorage.setItem("url", url);
                        $('li').not(".header").removeClass('menu-item-active');
                        $(this).addClass('menu-item-active');
                        //$(this).closest('ul').closest('li').addClass("menu-open active");
                        flag = true;
                    }
                } else {
                    if (this.childNodes[1])
                        if (this.childNodes[1].nodeName === "A")
                            if (this.childNodes[1].href === url) {
                                lastActive = url;
                                localStorage.setItem("url", url);
                                $('li').not(".header").removeClass('menu-item-active');
                                $(this).addClass('menu-item-active');
                                flag = true;
                            }

                }
            });
            return flag;
        }

        function showLoader(control) {
            KTApp.block(control, {});
        }

        function hideLoader(control) {
            KTApp.unblock(control);
        }

        function logOff() {
            $("#kt_logOff").submit();
        }
    </script>
</body>
</html>