@model StudioBooking.Areas.Admin.Models.CouponViewModel
<!--begin::Form-->
<form id="kt_modal_coupon_form" class="form" action="#">
    <div class="row">        
        <div class="col-xl-12">
            <input type="hidden" asp-for="Id" />
            <!--begin::Input group-->
            <div class="form-group row fv-row">
                <label asp-for="Name" class="col-3">
                    Name
                </label>
                <div class="col-9">
                    <input type="text" class="form-control form-control-solid" asp-for="Name" />
                </div>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="form-group row fv-row">
                <label class="col-3">
                    Code
                </label>
                <div class="col-9">
                    <input type="text" class="form-control form-control-solid" asp-for="Code" />
                </div>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            @* <div class="form-group row fv-row">
                <label asp-for="DiscountType" class="col-3">
                    DiscountType
                </label>
                <div class="col-9">
                    <select class="form-select form-select-solid fw-bolder" name="DiscountType" aria-label="Select an option" data-control="select2" data-dropdown-parent="#kt_modal_adjust_balance" data-placeholder="Select an option" data-hide-search="true">
                        <option></option>
                        <option value="1">Amount</option>
                        <option value="2">Percentage</option>
                    </select>

                </div>
            </div> *@
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="form-group row fv-row">
                <label asp-for="Discount" class="col-3">
                    Discount(%)
                </label>
                <div class="col-9">
                    <input id="Discount" type="number" min="0"  max="100" class="form-control form-control-solid" asp-for="Discount" />
                </div>
            </div>
           
            <!--begin::Actions-->
            <div class="text-center pt-15">
                <button type="reset" class="btn btn-light me-3" data-kt-coupon-modal-action="cancel">Discard</button>
                <button type="submit" class="btn btn-primary" data-kt-coupon-modal-action="submit">
                    <span class="indicator-label">Submit</span>
                </button>
            </div>
            <!--end::Actions-->
        </div>        
    </div>
</form>
<!--end::Form-->