@using StudioBooking.Infrastructure
@model StudioBooking.DTO.TransactionDTO
@section Style{
    <style type="text/css">
        .highlighter-secondary {
            color: red !important;
        }
    </style>
}
<div class="row">
    <div class="col-xl-6">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-body d-flex p-0">
                <div class="flex-grow-1 p-20 pb-40 card-rounded flex-grow-1 bgi-no-repeat" style="background-color: #663259; background-position: calc(100% + 0.5rem) bottom; background-image: url('/lib/assets/media/svg/custom-10.svg')">
                    <h2 class="text-white pb-5 font-weight-bolder">Oops... Something went wrong!</h2>
                    <p class="text-muted pb-5 font-size-h5">
                        Your studio booking payment failed.                        
                    </p>
                    <a href="/User/Home" class="btn btn-danger font-weight-bold py-2 px-6">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="thumbnail">
            <img src="~/lib/eTrade/assets/images/others/2842748.jpg" alt="payment-failed" style="max-height:600px">
        </div>
    </div>
</div>